version: "3.8"

services:
  api-gateway:
    image: spring-boot-api-gateway
    depends_on:
      - order-service
      - product-service
    environment:
      - OTEL_SERVICE_NAME=api-gateway
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  order-service:
    image: spring-boot-order-service
    environment:
      - OTEL_SERVICE_NAME=order-microservice
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  product-service:
    image: spring-boot-product-service
    environment:
      - OTEL_SERVICE_NAME=product-microservice
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317

  otel-collector:
    image: otel/opentelemetry-collector
    command: ["--config=/etc/otel/otel-collector.yml"]

  prometheus:
    image: prom/prometheus

  grafana:
    image: grafana/grafana

  jaeger:
    image: jaegertracing/all-in-one
